.button-send {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 119px;
		height: 32px;
		border-radius: 16px;
		background: $circle-bc;
		transition-duration: 400ms;
	}
	&__wrapper:hover {
		transform: scale(1.1);
	}
	&__text {
		margin-left: 15px;
		color: $header-bc;
		text-align: right;
		font-size: 12px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: -0.15px;
		text-transform: uppercase;
	}
	&__arrow {
		margin-right: 15px;
    width: 8px;
    height: 8px;
    border-right: 2px solid $header-bc;
    border-bottom: 2px solid $header-bc;
    transform: rotate(-45deg);
	}
}

