@media screen and (min-width: 1439px) {
  .modal {
		right: 440px;
		&__body {
			width: 440px;
			padding: 40px 32px;
		}
		&__cross {
			position: absolute;
			left: -70px;
			top: 35px;
		}
		&__title::before {
			left: -32px;
		}
		&__button {
			left: 262px;
		}
	}
}
