.menu-items {
	&__list-item {
		width: 40px;
    height: 40px;
    margin-right: 16px;
    border: none;
    background-color: $header-bc;
    cursor: pointer;
		opacity: 1;
		transition: opacity 300ms;
	}
	&__list-item:hover {
		opacity: 0.7;
		transform: scale(1.05);
	}
	&__list-item_call {
		border-radius: 50%;
    background: $circle-bc url("../img/call.svg")  no-repeat center;
	}
	&__list-item_chat {
		border-radius: 50%;
    background: $circle-bc url("../img/chat.svg")  no-repeat center;
	}
	&__list-item_profile {
		border-radius: 50%;
    background: $circle-bc url("../img/profile.svg")  no-repeat center;
	}
}