.modal {
	display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 320px;
	height: 100%;
	&__body {
		position: fixed;
		margin: 0 auto;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		width: 320px;
		padding: 24px 16px;
		box-sizing: border-box;
		background: $header-bc;
	}
	&__cross {
		margin-bottom: 40px;
	}
	&__title {
		position: relative;
		color: $menu-text-c;
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: -0.6px;
		margin-bottom: 24px;
	}
	&__title::before {
    content: "";
    display: block;
    width: 4px;
    height: 40px;
    position: absolute;
    left: -16px;
    top: -5px;
  }
  &__title::before {
    background: url("../img/highlight.svg") center center no-repeat;
  }
	input {
		width: 100%;
		height: 48px;
		border-radius: 8px;
		border: 1px solid $brands-item-br;
		background: $header-bc;
		box-sizing: border-box;
		margin-bottom: 16px;
		padding: 12px 16px;
	}
	input:focus {
		border: 1px solid $border-c;
	}
	input::placeholder {
		color: $brands-label-bc-checked;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: -0.2px;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
    -webkit-appearance: none;
	}
	textarea {
		width: 100%;
		height: 118px;
		padding: 12px 16px;
		border-radius: 8px;
		border: 1px solid $brands-item-br;
		background: $header-bc;
		box-sizing: border-box;
		margin-bottom: 16px;
		resize: none;
	}
	textarea:focus {
		border: 1px solid $border-c;
	}
	textarea::placeholder {
		color: $brands-label-bc-checked;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: -0.2px;
	}
	&__description {
		margin-bottom: 20px;
		color: $brands-title-c;
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
	}
	&__description span {
		color: $brands-icon-c;
	}
	&__button {
		border: none;
    background-color: $header-bc;
		position: relative;
		left: 172px;
	}
}

