@font-face {
  font-family: "TT Lakes Regular";
  src: url("../assets/fonts/TTLakes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("../assets/fonts/TTLakes-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("../assets/fonts/TTLakes-Medium.ttf") format("truetype");
}